table {
  width: 100%;
}

#actions-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.definition {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight-row {
  background: rgba(0, 0, 0, 0.2);
}
