<ng-container *ngIf="words$ | async as words">
  <table mat-table [dataSource]="words" matSort (matSortChange)="onSortChange($event)" class="mat-elevation-z8">
    <!-- value column -->
    <ng-container matColumnDef="value">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by word value"
        disableClear="true"
      >
        Value
      </th>
      <td mat-cell *matCellDef="let word">{{ word.value }}</td>
    </ng-container>

    <!-- part of speech column -->
    <ng-container matColumnDef="partOfSpeech">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by part of speech"
        disableClear="true"
      >
        Part of Speech
      </th>
      <td mat-cell *matCellDef="let word">{{ word.partOfSpeech }}</td>
    </ng-container>

    <!-- definition column -->
    <ng-container matColumnDef="definition">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by word definition"
        disableClear="true"
      >
        Definition
      </th>
      <td mat-cell *matCellDef="let word" class="definition">{{ word.definition }}</td>
    </ng-container>

    <!-- last modified time column -->
    <ng-container matColumnDef="lastModifiedTime">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by last modified time"
        disableClear="true"
      >
        Last Modified
      </th>
      <td mat-cell *matCellDef="let word">{{ word.lastModifiedTime | date: "medium" }}</td>
    </ng-container>

    <!-- actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let word">
        <button mat-icon-button [matMenuTriggerFor]="wordMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #wordMenu="matMenu">
          <button mat-menu-item (click)="editWord(word)"><mat-icon>edit</mat-icon><span>EDIT</span></button>
          <button mat-menu-item (click)="deleteWord(word)"><mat-icon>delete</mat-icon><span>DELETE</span></button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let word; columns: displayedColumns"
      (mouseover)="this.highlightedWord = word"
      (mouseleave)="this.highlightedWord = null"
      (click)="onClickWord(word)"
      [class.highlight-row]="highlightedWord === word"
    ></tr>
  </table>

  <!-- pagination controls -->
  <mat-paginator
    [length]="totalWords$ | async"
    [pageSizeOptions]="[5, 10, 20, 50]"
    [pageIndex]="pageIndex$ | async"
    [pageSize]="pageSize$ | async"
    (page)="onPageEvent($event)"
  >
  </mat-paginator>
</ng-container>

<div id="actions-container" *ngIf="(status$ | async) !== 'busy'">
  <button mat-fab (click)="createWord()" matTooltip="Add a new word">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab (click)="getWords({})" matTooltip="Reload words from database">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
