<div id="container">
  <div *ngIf="(connectionState$ | async) === 'Connecting'" id="connecting-container">
    <mat-spinner color="accent"></mat-spinner>
    <p>Connecting to server</p>
  </div>

  <div *ngIf="registered$ | async; else notRegistered" id="game-container">
    <h1>Round Number: {{ roundNumber$ | async }}</h1>
    <h2>Your Score: {{ score$ | async }} </h2>
    <ng-container *ngIf="roundActive$ | async; else roundEnded">
      <app-hint></app-hint>
      <app-guess></app-guess>
      <app-keyboard></app-keyboard>
    </ng-container>
    <ng-template #roundEnded>
      <app-round-end-summary></app-round-end-summary>
    </ng-template>
    <app-countdown *ngIf="expiry$ | async as expiry" [expiryDate]="expiry"></app-countdown>
  </div>
  <ng-template #notRegistered>
    <h3>Not registered with the game server :(</h3>
  </ng-template>
</div>
