<div id="container">
  <div id="content">
    <h1>Site Administration</h1>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a
      *ngFor="let link of links"
        mat-tab-link
        [routerLink]="link.path"
        [active]="link === activeLink"
        [matTooltip]="link.tooltip"
      >
        {{ link.label | uppercase }}
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <div class="panel-content">
        <router-outlet></router-outlet>
      </div>
    </mat-tab-nav-panel>
  </div>
</div>
