.box {
  width: 40px;
  height: 40px;
  border: 4px gray solid;
  border-radius: 8px;
  font-size: 1.8rem;
  color: black;
  background: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  &.hint {
    color: darkblue;
    background: lightblue;
    border-color: darken(lightblue, 10);
  }

  &.correct {
    color: darkgreen;
    background: lightgreen;
    border-color: darken(lightgreen, 10);
  }

  &.incorrect {
    color: darkred;
    background: lightcoral;
    border-color: darken(lightcoral, 10);
  }
}

.position {
  margin-top: 4px;
  font-size: 0.7rem;
}

@media screen and (max-width: 420px) {
  .box {
    width: 32px;
    height: 32px;
    border: 2px gray solid;
    font-size: 1.6rem;
  }
}