<div id="container">
  <div *ngIf="(connectionState$ | async) === 'Connecting'" id="connecting-container">
    <mat-spinner color="accent"></mat-spinner>
    <p>Connecting to server</p>
  </div>

  <div *ngIf="registered$ | async; else notRegistered" id="game-container">
    <app-stats></app-stats>
    <ng-container *ngIf="state$ | async as state">
      <!-- round is active -->
      <ng-container *ngIf="state.roundActive; else roundEnded">
        <!-- player has guessed the word -->
        <ng-container *ngIf="guessedWord$ | async; else guess">
          <h2>You guessed it!</h2>
        </ng-container>

        <!-- player is guessing the word -->
        <ng-template #guess>
          <app-hint></app-hint>
          <app-guess></app-guess>
          <app-keyboard *ngIf="showKeyboard"></app-keyboard>
          <app-countdown [startDate]="state.intervalStart" [endDate]="state.intervalEnd"></app-countdown>
        </ng-template>
      </ng-container>

      <!-- round ended - post round summary -->
      <ng-template #roundEnded>
        <app-round-end-summary></app-round-end-summary>
        <app-countdown [startDate]="state.intervalStart" [endDate]="state.intervalEnd"></app-countdown>
      </ng-template>
    </ng-container>
  </div>
  <ng-template #notRegistered>
    <h3>Not registered with the game server :(</h3>
  </ng-template>
</div>
