<mat-toolbar color="primary" class="mat-elevation-z8">
  <a routerLink="/">
    <h1 class="app-name">{{ appName }}</h1>
  </a>
  <h5 *ngIf="environmentName" class="app-env">{{ environmentName | uppercase }}</h5>

  <span class="spacer"></span>

  <div *ngIf="!(busy$ | async)" class="user-info">
    <span>{{ displayName$ | async }}</span>
    <ng-container *ngIf="role$ | async as role">
      <button *ngIf="role === 'admin'" mat-raised-button color="accent" routerLink="/admin">ADMIN</button>
      <button *ngIf="role !== 'guest'" mat-raised-button color="accent" (click)="onLogout()">LOGOUT</button>
      <button *ngIf="role === 'guest'" mat-raised-button color="accent" (click)="onLogin()">LOGIN / REGISTER</button>
    </ng-container>
  </div>
</mat-toolbar>
