mat-toolbar {
  a {
    color: white;
    text-decoration: none;
  }

  .app-name,
  .app-env {
    margin: 0;
  }

  .app-env {
    margin-left: 16px;
    letter-spacing: 4px;
  }

  .spacer {
    flex: 1 1 auto;
  }
  .user-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
