<h2 mat-dialog-title>{{ isEditing ? "Editing word" : "Add a new word" }}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <!-- word id -->
    <mat-form-field>
      <mat-label>Word</mat-label>
      <input matInput name="word" placeholder="Enter the word" formControlName="id" minlength="4" maxlength="16" />
      <mat-error *ngIf="!formGroup.controls.id.valid">Word is required</mat-error>
    </mat-form-field>

    <!-- frequency -->
    <mat-form-field>
      <mat-label>Frequency</mat-label>
      <input
        matInput
        name="frequency"
        placeholder="Enter the frequency of the word"
        formControlName="frequency"
        type="number"
      />
      <mat-error *ngIf="!formGroup.controls.frequency.valid">Frequency needs to be number between 1 and 7.</mat-error>
    </mat-form-field>

    <!-- definitions array -->
    <ng-container formArrayName="definitions">
      <ng-container *ngFor="let definition of definitions.controls; index as i">
        <div class="definition" [formGroup]="definition">
          <mat-divider *ngIf="definitions.length > 1"></mat-divider>
          <h3 *ngIf="definitions.length > 1" class="title">Definition {{ i + 1 }}</h3>

          <!-- part of speech -->
          <mat-form-field>
            <mat-label>Part of Speech</mat-label>
            <mat-select name="partOfSpeech" formControlName="partOfSpeech">
              <mat-option *ngFor="let option of partOfSpeechOptions" [value]="option.value">{{
                option.label
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- definition -->
          <mat-form-field>
            <mat-label>Definition</mat-label>
            <textarea
              matInput
              name="value"
              placeholder="Enter the definition of the word"
              formControlName="value"
              [cdkTextareaAutosize]="true"
            ></textarea>
            <mat-error *ngIf="!definition.controls.value.valid">Definition is required</mat-error>
          </mat-form-field>

          <!-- example -->
          <mat-form-field>
            <mat-label>Example</mat-label>
            <textarea
              matInput
              name="example"
              placeholder="Example of word used in a sentence"
              formControlName="example"
              [cdkTextareaAutosize]="true"
            ></textarea>
          </mat-form-field>

          <!-- remove definition button -->
          <button
            *ngIf="definitions.length > 1"
            mat-icon-button
            color="warn"
            (click)="removeDefinition(i)"
            matTooltip="Remove definition {{ i + 1 }}"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="addDefinition()">ADD DEFINITION</button>

  <!-- dictionary lookup button -->
  <button
    mat-raised-button
    color="primary"
    *ngIf="!isEditing && formGroup.controls.definitions.length === 0"
    [disabled]="!formGroup.controls.id.valid"
    (click)="getDefinitionSuggestions(formGroup.controls.id.value)"
    matTooltip="Perform dictionary lookup for word definitions"
  >
    DICTIONARY LOOKUP
  </button>

  <div class="spacer"></div>
  <button mat-raised-button color="accent" (click)="submit()" [disabled]="!formGroup.touched || !formGroup.valid">
    {{ isEditing ? "UPDATE WORD" : "ADD WORD" }}
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>CANCEL</button>
</mat-dialog-actions>
