mat-dialog-content {
  min-width: 640px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 8px;
}

mat-dialog-actions {
  justify-content: center;
}

.definition {
  margin-bottom: 8px;
  .title {
    margin-top: 16px;
  }
}

.spacer {
  flex-grow: 1;
}
