<mat-toolbar color="primary" class="mat-elevation-z8">
  <a routerLink="/">
    <h1 class="app-name">{{ appName }}</h1>
  </a>

  <span class="spacer"></span>

  <div *ngIf="loggedIn$ | async; else login" class="user-info">
    <span>{{ displayName$ | async }}</span>
    <button *ngIf="(role$ | async) === 'admin'" mat-raised-button color="accent" routerLink="/admin">ADMIN</button>
    <button mat-raised-button color="accent" (click)="onLogout()">LOGOUT</button>
  </div>

  <ng-template #login>
    <button mat-raised-button color="accent" (click)="onLogin()">LOGIN / REGISTER</button>
  </ng-template>
</mat-toolbar>
